/*
============================================================
		  				 Font Color
 ============================================================
*/
.kf_testimonial_des p:before, .aside_widget_hdg h6 span, .kf_blog_detail_des ul li a span, .kf_comment_des > a, .kf_blog_detail_des ul li:hover a, .kf_comment_des > ul > li:hover > a > h6, .kf_comment_des > ul > li:hover > a, .kf_accordian_hdg h5:before, /*Amir Code Classes*/
.blog-2-side-bar ul li:hover strong, .kode-fig-capstion > a:hover, .kode-team-blog figure > a :hover, .kode-thumb-caption li:hover a i, .our-speaker-social-section:hover > span, .our-speaker-social-section a:hover, .blog-2-side-bar strong:hover, .kode-fig-capstion > a:hover, .kode-team-blog figure > a :hover, .pag.pagination > li > a:hover, .kode-thumb-caption li:hover a i, .kode-loading-link > a:hover, .our-speaker-social-section:hover > span, .our-speaker-social-section a:hover, .contactusform h3, .main-service-box:hover .icon-srvc, .auditorium a:hover, .auditorium li.active a, .scheduletabs .panel-heading, .scheduletabs .announcer, .overcontent ul a, 
.kode-price-box:hover .kode-price-header h3, 
.kode-blog-newcontent .meta-event, 
.kode-footer-text .title, 
.address-nav .fa, 
.twitterfeed-nav a, 
.kode-error > h3, 
.kode-health-over li i,

.kf_new_conf_hdg i,
.kf_new_conf_orgnizr_name span,
.kf_new_conf_hdg.accordion-open h5
{
	color: #00a4ef;
}
/*
============================================================
		   			Background Color
============================================================
*/
.kf_speaker_socil, .kf_heading_1 i:before, .kf_experience_list:before, .kf_experience_list span, .owl-theme.kf_testimonial_bg .owl-controls .owl-page.active span, .owl-theme.kf_testimonial_bg .owl-controls .owl-page:hover span, .kf_aside_twitter, .kode_calender .fc-toolbar, .blog_img_year, .kf_reply_field input[type="submit"], .kf_reply_field button, .Kode-page-heading, .register-button, #kode-gallery-causel .owl-controls .owl-buttons div:hover, .kf_heading_3 span:before, #kode-testimonial-causel .owl-controls .owl-buttons div:hover, 
/*Amir Code Classes*/
.col-right .button-member, .button.active, .button:hover, .Kode-page-heading, .kode-thumb-caption span a:hover, .kode-blog-2 figure:after, .kode-contact-area .thbg-color, .register-button:hover, .first-letter, .pag .pagination > li:hover a, .kf_gallery figure, .col-right .button-member, .button.active, .button:hover, .Kode-page-heading, .kode-thumb-caption span a:hover, .kode-blog-2 figure:after, .kode-contact-area > a, .register-button:hover, .first-letter, .kode-nav li.active > a, .kode-nav ul li:hover > a, .kf_faq_banner .bx-wrapper .bx-controls-direction a:hover, .button-animate span::before, .button-animate span, .main-service-box:hover, .button-slide:hover, .button-slide:focus, .button-slide.active, .scheduletabs .nav-tabs > li.active > a, .scheduletabs .nav-tabs > li.active > a:hover, .scheduletabs .nav-tabs > li.active > a:focus, .scheduletabs .nav-tabs > li.active > a:after, .scheduletabs .nav-tabs > li.active > a:hover:after, .scheduletabs .nav-tabs > li.active > a:focus:after, 
.auditorium li.active a:after,
.auditorium a:hover:after, 
.find-us-heder, 
.subscribe-form input[type='submit'], 
.new-ourspeaker.over-state, 
.kode-price-footer a:hover, 
.kode-price-box:hover .kode-price-footer a, 
.kode-event-testimonial .border-left, 
.time-newevent, 
.kode-newblog-footer a:hover, 
.kode-event-contact .border-left, 
.contactusform input[type="submit"], 
.kode-ask-question a, 
.footer-copyright, 
.kode-welcome .icon-srvc, 
.col-right .button-member, 
.event-slider-box .bx-wrapper .bx-pager.bx-default-pager a:hover,
.event-slider-box .bx-wrapper .bx-pager.bx-default-pager a.active,
.event-slider-box .bx-wrapper .bx-pager.bx-default-pager a:focus, 
.bottom-border, 
.overcontent:before, 
.kode-error > a:hover, 
.filter-item li a.active,
.filter-item li a:hover,
.filter-item li a:focus, 
.lode-more, 
.counter-meta,
.kode-loading-link, 
.kode-health-caption > a, 
#mobile-header:hover, .header-social a:hover, 
.kode-btn-style-1,
.back-to-top,


.kf_new_conf_btn_link a:hover
 {
	background-color: rgb(12, 45, 114);
	color: white;
}
/*
============================================================
		   			Border Color
============================================================
*/
.kf_blog_detail figure, .blog_img_year:before, #kode-testimonial-causel .owl-controls .owl-buttons div:hover, /*Amir Code Classes*/
.kode-thumb-caption > span:hover, .button.active, .button:hover, .kode-blog-2:hover .kode-thumb-caption::before, .kode-blog-2:hover .kode-thumb-caption::after, .blog-2-side-bar ul li a::after, .blog-2-side-bar ul li:hover a:after, .kode-event-blog3:hover figure:after, .kode-thumb-caption > span:hover, .button.active, .button:hover, .kode-blog-2:hover .kode-thumb-caption::before, .kode-blog-2:hover .kode-thumb-caption::after, .blog-2-side-bar ul li a::after, .blog-2-side-bar ul li a:hover::after, .kode-event-blog3:hover figure::after, .kode-price-box:hover .kode-price-header, .kf_faq_banner .bx-wrapper .bx-controls-direction a:hover, .button-slide:hover, .button-slide:focus, .button-slide.active, 
.subscribe-form input[type='submit'], 
.kode-newspeaker:hover .new-ourspeaker.over-state, .kode-newspeaker:hover, 
.kode-newblog-footer a:hover, 
.kode-error > a, 
.kode-error input[type="search"]:focus, 
.filter-item li a.active,
.filter-item li a:hover,
.filter-item li a:focus, 
#mobile-header:hover, .header-social a:hover,



.kf_new_conf_des_wrap:before .kf_new_conf_hdg.accordion-open
{
	border-color: #00a4ef;
}
/*
	  ============================================================
		   Transaction Effect
	  ============================================================
*/
.owl-theme.kf_testimonial_bg .owl-controls .owl-page span, .bx-wrapper .bx-pager.bx-default-pager a, .kf_blog_detail_des ul li a, .kf_comment_des > ul > li > a, .kf_comment_des > a, .kf_comment_des > ul > li > a > h6, .kf_gallery_des, .filter-item li a, .kode-nav ul ul, .new-ourspeaker.over-state, .overcontent ul a, .kode-price-header, .newevent-header:after, .kf_faq_banner .bx-wrapper .bx-controls-direction a, .contactusform input[type="email"], .contactusform input[type="text"], .contactusform textarea, 
.kode-error > a, 
.kode-error input[type="search"], 
.kode-loading-link, 
.kode-health-caption > a, 
.kode-event-place-holder figure:before, .kode-slider-speaker .thumb figure img, 
.kode-slider-speaker .thumb , figure, 
.newevent-header img, .subscribe-form input[type='submit'], 
#mobile-header, .kode-contact-area > a, 
.kode-ask-question a, .header-social a, .contactusform input[type="submit"], 
.kf_reply_field input[type="submit"],
.kf_reply_field button, .kode-btn-style-1,
.ticket-section ul,
.ticket-section ul li,
.ticket-column li a,
.ticket-column ul li span,
.ticket-column ul li span i,

.kf_new_conf_btn_link a,
.fa-angle-down::before
{
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
/*
	  ============================================================
		   Transform Effect
	  ============================================================
*/

/*
	  ============================================================
		  Content Selection
	  ============================================================
*/
::selection {
	background: #e37d39;
	color: #ffffff;
}
::-webkit-selection {
 background: #e37d39;
 color: #ffffff;
}
::-moz-selection {
 background: #e37d39;
 color: #ffffff;
}
