<!--
.titles {
	color: #990000;
	font-weight: bold;
	font-size:10pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

Div#maindiv{
background-image:url(../images/BgImage.gif);
width:750px;
text-align:left;
}
body{
background-image:url(../images/PageBg.gif);
margin:0;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.titlesBlack {
	color: #000000;
	font-weight: bold;
}
body{background-color: #FFFFFF;
margin-left:0;
margin-top:0;
}
.style3 {font-style: italic}
.dullTitles{color: #999999;
	font-weight: bold;
}
.tableHead{
background-color: #C9CAB9;
font-weight:bold
}
.tableal1{
background-color:#B9C6CA;
}
.tableal2{
background-color:#E4E0D4;
}
a{
text-decoration:none;
}
a.visited{
text-decoration:none;
}
img{border-width:0;
}
.menu{
background:url(../images/manuBg.jpg);
background-repeat:no-repeat;
}
Div#TICKER{
color: #990000;
font-weight:bold;
height:20;
}
div.procedure {
display : none; 
} 
-->